$header-font: "Orbitron";
$navbar-green: #32a883;
$link-color: rgb(221, 186, 29);
$icon-color: rgb(241, 243, 207);

i {
    color: $navbar-green;
    span {
        font-family: $header-font;
        font-weight: 600;
        margin: 0 10px;
    }
}

.card {
    img{
        width: auto;
        height: 300px;
    }
}

body {
    color: $navbar-green;
    font-family: $header-font;
    h2 {
        font-weight: 600;
    }
    p {
        font-weight: 400;
    }
}

.nav-item {
    border-radius: 10px;
    padding: 2px;
    margin-right: 4px;
}

.nav-item:hover {
    background-color: $icon-color;
    
}

.active {
    background-color: $link-color;
}

#backgroundImage {
    width: 100%;
}

#backgroundImageContainer {
    padding-left: 0;
    padding-right: 0;
}

#socialIconSection {
    color: $icon-color;
    i {
        color: $icon-color;
    }
}

li {
    a {
        color: $link-color;
    }
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/background-image.jpg');
}