i {
  color: #32a883; }
  i span {
    font-family: "Orbitron";
    font-weight: 600;
    margin: 0 10px; }

.card img {
  width: auto;
  height: 300px; }

body {
  color: #32a883;
  font-family: "Orbitron"; }
  body h2 {
    font-weight: 600; }
  body p {
    font-weight: 400; }

.nav-item {
  border-radius: 10px;
  padding: 2px;
  margin-right: 4px; }

.nav-item:hover {
  background-color: #f1f3cf; }

.active {
  background-color: #ddba1d; }

#backgroundImage {
  width: 100%; }

#backgroundImageContainer {
  padding-left: 0;
  padding-right: 0; }

#socialIconSection {
  color: #f1f3cf; }
  #socialIconSection i {
    color: #f1f3cf; }

li a {
  color: #ddba1d; }

.fill {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("../img/background-image.jpg"); }

.card-body h4 {
  color: #f00918; }

.card-body h5 {
  color: #e4000f; }

p.card-text {
  color: rgba(26, 23, 23, 0.596); }

.img-thumbnail {
  background-color: rgba(26, 23, 23, 0.596); }

span[data-toggle="modal"] {
  color: #ddba1d; }

span[data-toggle="modal"]:hover {
  color: #f1f3cf;
  cursor: pointer; }
