i {
  color: #32a883; }
  i span {
    font-family: "Orbitron";
    font-weight: 600; }

body {
  color: #32a883;
  font-family: "Orbitron"; }
  body h2 {
    font-weight: 600; }
  body p {
    font-weight: 400; }

.active {
  background-color: #ddba1d;
  border-radius: 10px;
  padding: 2px; }

#backgroundImage {
  width: 100%; }

#backgroundImageContainer {
  padding-left: 0;
  padding-right: 0; }

#socialIconSection {
  color: #f1f3cf; }
  #socialIconSection i {
    color: #f1f3cf; }

li a {
  color: #ddba1d; }
